.dropdown-backdrop {
    position: static !important;
}

.ftco-navbar-light.scrolled .navbar-toggler {
    color: rgba(255, 255, 255, 0.7) !important;
}

.owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item {
    -ms-touch-action: auto !important;
    touch-action: auto !important;
}

.ftco-navbar-light.scrolled {
    background: #232323 !important;
}

    .ftco-navbar-light.scrolled .nav-link {
        color: rgba(255, 255, 255, 0.7) !important;
    }

    .aUrl {
        color: #0645AD !important;
    }

    .aUrl:hover {
        color: #5f89d3 !important;
    }

.pricing-entry .text:after{
    content:none!important;
}

.p-4 {
    padding: 1.02rem !important;
}

.block-20 {
    height: 500px !important;
}

h1 {
    font-family: 'Times New Roman' !important;
}

h2 {
    font-family: 'Times New Roman' !important;
    color: #1e441f !important;
}

.services .icon span {
    color: #1e441f !important;
}

.heading-section h2:after, .heading-section h2:before {
    background: #1e441f !important;
}

.ftco-navbar-light.scrolled .nav-item.active > a {
    color: #1e441f !important;
}

    .ftco-navbar-light.scrolled .nav-link:hover {
        color: #1e441f !important;
    }

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
    color: #1e441f !important;
}

.room .text span.price:after {
    background: #1e441f !important;
}

.room .text ul.list li span {
    color: #1e441f !important;
}


.map-responsive {
    overflow: hidden;
    padding-bottom: 40%;
    position: relative;
    height: 0;
}

    .map-responsive iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }